<div class="row">
  <div>
    <%= @mars_ingest.input_filename %>
  </div>

  <div>
    <%= @mars_ingest.created_at %>
  </div>

  <div>
    <%= @mars_ingest.number_of_items %>
  </div>

  <div>
    <%= @mars_ingest.error %>
  </div>
</div>